html
  head
    title LetsAuth - Grant
  body
    pre !{JSON.stringify(query, null, 2)}
    form(action="/api/v1/oauth/grant?#{qs}", method="POST")
      input(type="submit", name="grant", value="yes")
      input(type="submit", name="grant", value="no")
