html
  head
    title LetsAuth - Login

  body
    pre !{JSON.stringify(query, null, 2)}
    form(action="/api/v1/oauth/login?#{qs}", method="POST")
      input(type="email", name="email")
      input(type="password", name="password")
      input(type="submit")
